.study__list__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  margin-bottom: 20px;
  padding: 0px 15px;
  overflow-y: scroll;
}

.study__list {
  margin-bottom: 25px;
}

.study__list__row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.study__list__row__title {
  font-size: 23px;
  font-weight: 700;
  color: var(--maincolor);
  margin-bottom: 10px;
}

.study__list__row__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  line-height: 1.5;
}
